/*цвет основного текста  #212121;
Вторичный цвет текста rgba(117, 117, 117, 1)
Вторичный цвет адреса rgba(255, 255, 255, 0.6)
белый текст  rgba(255, 255, 255, 1)
акцент белого текста на голубом #2196F3; 
вторичный темный цве фон #2F303A; 
вторичный светлый цвет фон #F5F4FA;*/

/*Стили для index*/
:root{
   --primary-text-color: rgba(117, 117, 117, 1);
   --primary-text-color-for-adress: rgba(255, 255, 255, 0.6);
   --title-text-color: #212121;
   --title-text-white: rgba(255, 255, 255, 1);
   ---accent-color: #2196F3;
   --color-blue-text: rgba(33, 150, 243, 1);
   --background-white: #fff;
   --background-button-grey:  #F5F4FA;
   --background-dark-color: #2F303A;
   --footer-background: rgba(47, 48, 58, 1);
}

body {
    color: var(--title-text-color);
    background-color: var(--background-white);
    font-family: "Roboto", sans-serif; 
}
.link {
    list-style: none;
}
/*<-----------------HEADER------------------->*/
.site-nav {
    list-style: none;
}
.logo-link {
    font-family: Raleway;
    text-decoration: none;
    color: var(--color-blue-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-dark {
    font-family: Raleway;
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.header-link {
    text-decoration: none;
    color:var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
} 
.header-link:focus,
.header-link:hover,
.current {
    color: var(--color-blue-text);
}

.adress-mailto {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.adress-mailto:focus,
.adress-mailto:hover {
    color: var(--color-blue-text);
}
.adress-telefon {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.adress-telefon:focus,
.adress-telefon:hover {
    color: var(--color-blue-text);
}
/* <------------------ MAIN--------------->*/
.section-about {
    background-color: var(--background-dark-color);
    padding-bottom: 50px;
    Width: 1600px;
}
.about {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--title-text-white);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.button,
.about-button {
    color: var(--title-text-white);
    background-color: var(---accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    border: var(--color-blue-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
  .about-button:hover,
  .about-button:focus {
    color: var(--background-white);
    background: var(---accent-color);
    text-decoration-line: none;
    text-decoration-color: var(---accent-color);
  }

.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    }

.what-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-text-color);
    text-align: center;
    letter-spacing: 0.03em;
}
.team {
background: var(--background-button-grey);
}
.ourteam {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-text-color);
    text-align: center;
    letter-spacing: 0.03em;
}
.ourteam-1,
.ourteam-2,
.ourteam-3,
.ourteam-4 {
    background: var(--background-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    }
.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    text-align: center;
}
/* <----------------FOOTER-------------->*/
.footer {
    background-color: var(--footer-background);
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
}

.footer-logo {
    font-family: Raleway;
    text-decoration: none;
    color: var(--color-blue-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.footer-dark {
    font-family: Raleway;
    text-decoration: none;
    color: var(--title-text-white);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.contacts-items {
}
.footer-adress {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--title-text-white);
    letter-spacing: 0.03em;
    cursor: none;
}
.footer-adress:focus,
.footer-adress:hover {
    color: var(--color-blue-text);
}
.footer-mailto {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color-for-adress);
    letter-spacing: 0.03em;
}
.footer-mailto:focus,
.footer-mailto:hover {
    color: var(--color-blue-text);
}
.footer-telefon {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color-for-adress);
    letter-spacing: 0.03em;
}
.footer-telefon:focus,
.footer-telefon:hover {
    color: var(--color-blue-text);
}
/*<----------------Стили для PORTFOLIO------------------->*/
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--background-button-grey);
    border-radius: 4px;
    cursor: pointer;
    text-decoration-line: none;
    border:var(--primary-text-color-for-adress);
  }
  .portfolio-btn:hover,
  .portfolio-btn:focus {
    color: var(--background-white);
    background: var(---accent-color);
    text-decoration-line: none;
    text-decoration-color: var(---accent-color);
  }
  .current-all {
    color: var(--background-white);
    background-color: var(---accent-color);
}
.gallery-items {
    background: var(--background-white);  
}

.description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.3;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.describe {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}